{
	 "openstack::network::api": "10.32.170.0/24",
	 "openstack::keystone::admin_token": "sosp-kyl",
	 "openstack::neutron::shared_secret": "by-sa-bo",
	 "openstack::network::external": "10.32.170.0/24",
	 "openstack::mysql::allowed_hosts": ["localhost", "127.0.0.1", "%"],
	 "openstack::horizon::secret_key": "whu-ghuk",
	 "openstack::rabbitmq::user": "openstack",
	 "openstack::rabbitmq::password": "pose-vix",
	 "openstack::storage::address::api": "10.32.170.151",
	 "openstack::tenants": {},
	 "openstack::users": {
	     "monitor": {
	         "admin": true,
	         "password": "xl-#$39skl1d!",
	         "email": "monitor@localhost",
	         "tenant": "services"
	     }
	 },
	 "openstack::mysql::root_password": "dangerous",
	 "openstack::storage::address::management": "10.32.170.151",
	 "openstack::nova::password": "quuk-paj",
	 "openstack::keystone::admin_email": "layne.peng@emc.com",
	 "openstack::neutron::password": "whi-rtuz",
	 "openstack::cinder::password": "zi-co-se",
	 "openstack::cinder::volume_size": "8G",
	 "openstack::controller::address::management": "10.32.170.151",
	 "openstack::heat::password": "zap-bang",
	 "openstack::network::data": "10.32.170.0/24",
	 "openstack::ceilometer::mongo::password": "whi-truz",
	 "openstack::swift::password": "dexc-flo",
	 "openstack::ceilometer::meteringsecret": "ceilometersecretkey",
	 "openstack::nova::libvirt_type": "kvm",
	 "openstack::network::external::nic": "eth1",
	 "openstack::verbose": "True",
	 "openstack::network::neutron::private": "20.0.0.0/24",
	 "openstack::network::management": "10.32.170.0/24",
	 "openstack::mysql::service_password": "fuva-wax",
	 "openstack::swift::hash_suffix": "pop-bang",
	 "openstack::heat::encryption_key": "heatsecretkey",
	 "openstack::keystone::admin_password": "dangerous",
	 "openstack::glance::password": "na-mu-va",
	 "openstack::controller::address::api": "10.32.170.151",
	 "openstack::ceilometer::password": "whi-truz",
	 "openstack::region": "openstack",
	 "openstack::debug": "True"
 }